* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #666666;
    color: white;
}

h1 {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
}

.container {
    margin-top: 2%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.search-form {
    margin-top: 20px;
}

.loading {
    color: white;
}

.search,
.button {
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.search {
    margin-right: 2px;
}

.button {
    margin-left: 2px;
    background-color: #8000ff;
    padding: 8px 25px;
    color: white;
}

.button:hover {
    transition: 1s;
    background-color: #8600b3;
}

#poster {
    margin-top: 30px;
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.column-left {
    max-width: 50%;
    float: left;
    padding: 10px;
}

.column-right {
    padding: 10px;
    max-width: 50%;
    float: right;
}

p {
    line-height: 1.4rem;
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: left;
}

.rating {
    margin-top: 20px;
}

@media screen and (max-width:700px) {
    .search,
    .button {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .column-left,
    .column-right {
        display: block;
        width: 100%;
        margin: 10px auto 10px auto;
        float: none;
        max-width: 100%;
    }
}